{{#if @route}}
  <LinkTo class="{{styleNamespace}} {{if @noStyles "no-styles"}}" @route={{@route}} @query={{@query}}>
    {{yield}}
  </LinkTo>
{{else}}
  <a class="{{styleNamespace}} {{if @noStyles "no-styles"}}" href={{@href}}>
    {{yield}}
  </a>
{{/if}}