{{#if @route}}
  <LinkTo local-class="link {{if @no-styles "no-styles"}}" @route={{@route}} @query={{@query}}>
    {{yield}}
  </LinkTo>
{{else}}
  <a local-class="link {{if @no-styles "no-styles"}}" href={{@href}}>
    {{yield}}
  </a>
{{/if}}